*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-size: 13px;
    background: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
}

.container{
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    background: white; 
    border-radius: 10px;
}

.padding{
    padding: 35px 30px 10px 30px;
}

.share-area{
    height: 70px;
}

.title{
    color: hsl(217, 19%, 35%);
    font-size: 1.15rem;
    margin-bottom: 20px;
}

.article{
    color:hsl(214, 17%, 51%);
    font-size: 0.95rem;
    margin-bottom: 30px;
}

.article-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 0 30px;
}

.author-info{
    display: flex;
    /* justify-content: space-between; */
    width: 70%;
}

.author-avatar{
    border-radius: 100%;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.other-info .author{
    margin-top: 0;
    margin-bottom: 8px;
    color: hsl(217, 19%, 35%);
    font-size: 0.9rem;
}

.other-info .date{
    color: hsl(214, 17%, 51%);
    margin: 0px;
}

.share-icon-group{
    position: relative;
}

.share{
    display: inline-block;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 50%;
    background: hsl(210, 46%, 95%);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    padding:5px 30px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.share-area, .pop-up{
    /* display:none; */
    background: hsl(217, 19%, 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.share-area{
    display: none;
    width: 100%;
}

.pop-up{
    border-radius: 10px;
}

.adjust-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.pop-up{
    width: 250px;
    display: none;
    padding: 20px 30px;
    position: absolute;
    z-index: 1;
    bottom: 180%;
    left: -110px;
}

.pop-up::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 47%;
    margin-left: -5px;
    border-width: 15px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.pop-up.show{
    display: flex;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
.share-text{
    margin: 0;
}
.main-share{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.share-text,.main-share:first-child{
    color: hsl(214, 17%, 51%);
}

.active-share{
    background: hsl(214, 17%, 51%);
    padding: 10px 12px;
    border-radius: 50%;
}

.active-share svg path{
    fill:whitesmoke;
}



@media only screen and (max-width:375px){
    .container{
        min-height: 100vh;
        height: auto;
        /* width: 100%; */
    }

    .furniture-img{
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-top-right-radius: 10px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 1440px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .container{
        display: flex;
        width: 80%;
        max-width: 1000px;
    }

    .main-article-area{
        padding: 35px 40px 10px 40px;
    }

    .furniture-img{
        width: 40%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        /* height: auto; */
    }

    .article-container{
        width: 60%;
    }
}